h1 {
	text-align: center;
	font-family: Georgia;
}

table {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: Georgia;
}

body {
	background-color: #FFFFCC;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

img {
	width: 100px;
	height: 100px;
	border-radius: 25px;
}

img.pics {
	border-radius: 50px;
}

.pics:hover {
	border-radius: 25px;

}

a {
	color: black;
}

a:hover {
	color: blue;
}

img.round {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

ul.no_bullets {
	list-style: none;
}

td.nav {
	background-color: #3da0b8;
	border-radius: 50px;
	padding: 5px;
}

div.results_scroll {
	height: 500px;
	overflow-y: scroll;
}

tr.results:nth-child(even) {
	background-color: #f2f2f2;
}

tr.results:hover {
	background-color: #f5f9f9;
}

tr.results_key {
	background-color: #3da0b8;
}

td.pad {
	padding-bottom: 2px;
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

div.formatted {
	margin-left: 200px;
	margin-right: 200px;
}