{% extends "base.html" %}

{% block content %}

<h1>About Us</h1>

<link type="text/css" rel="stylesheet" href="static/stylesheet.css" />

<table>
	<!--This next row is our likedin profile picture with the 
	linked account, except for Ross, who doesn't have a linkedin...-->
	<tr>
		<td><a href="https://www.linkedin.com/in/connor-foley-6b18118a" target="_blank"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/03e/03b/0e7ae5a.jpg"></a></td>
		<td><a href="https://www.linkedin.com/in/john-holmes-61a3bbb3" target="_blank"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAOKAAAAJDMwY2Y0NjBhLTgwMmQtNDMzMy1iYjZlLTA1MTYwOTI4YmM5ZA.jpg"></a></td>
		<td>Ross Pendergast does not have a linkedin...yet</td>
		<td><a href="https://www.linkedin.com/in/daniel-sack-2634b080" target="_blank"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/012/0e4/371dba6.jpg"></a></td>
	</tr>
		<tr>	
		<td>Connor Foley</td>
		<td>John Holmes</td>
		<td>Ross Pendergast</td>
		<td>Danny Sack</td>
	</tr>
</table>

{% endblock %}