{% extends "base.html" %}

{% block content %}

<div>
<h1>About Us</h1>

<link type="text/css" rel="stylesheet" href="/static/stylesheet.css" />

<table>
	<!--This next row is our likedin profile picture with the 
	linked account, except for Ross, who doesn't have a linkedin...-->
	<tr>
		<td><a class="pics" href="https://www.linkedin.com/in/connor-foley-6b18118a" target="_blank"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/03e/03b/0e7ae5a.jpg"></a></td>
		<td><a class="pics" href="https://www.linkedin.com/in/john-holmes-61a3bbb3" target="_blank"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAOKAAAAJDMwY2Y0NjBhLTgwMmQtNDMzMy1iYjZlLTA1MTYwOTI4YmM5ZA.jpg"></a></td>
		<td><a class="pics" href="https://au.linkedin.com/in/ross-pendergast-36982010b" target="_blank"><img src="https://media.licdn.com/media/AAEAAQAAAAAAAAb6AAAAJDhjYTJmYzQ2LWE2YjgtNDQzOS05MDc5LTRmODRjZjhhOTJjYQ.jpg"></a></td>
		<td><a class="pics" href="https://www.linkedin.com/in/daniel-sack-2634b080" target="_blank"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/012/0e4/371dba6.jpg"></a></td>
	</tr>	
		<td>Connor Foley</td>
		<td>John Holmes</td>
		<td>Ross Pendergast</td>
		<td>Danny Sack</td>
	</tr>
</table>
<body>
	<p>As four board members on the Michigan Running Club, to call 
	running a “passion” of ours would be quite the understatement. 
	Between running every day, poring over race results from teams around 
	the country, and doing our own racing, running takes up a lot of our 
	collective time. Running at the club/collegiate level is usually 
	broken down into two main seasons: track and cross country. Comparing 
	track results is fairly easy, as every track race is run on a flat, 
	oval, two to four hundred meter surface, depending on if it’s indoor 
	or outdoor season. Cross country results are a bit more fickle. 
	Between courses of varying lengths, differing elevation changes (
	read: hills), and weather making the gravel paths, grass loops, and 
	backcountry trails we run on a bit wetter than we’d like, comparing 
	results in Cross Country season is virtually impossible. The 
	collection of conditions that contribute to a course’s general 
	difficulty results in a wide variation of outcomes for competitors of 
	possibly equivalent fitness and ability. This has long been a point 
	of contention for Runners, who always argue whatever course they ran 
	was tougher, and as a result, their time was more impressive. These 
	arguments are generally non productive, and result in everyone 
	wishing there was a way to normalize results. This mode of thinking 
	came to a height when our Club Team, last year’s National Runner Ups, 
	were ranked far lower than we would have expected in a series of 
	season rankings released by our national governing body. We began to 
	wonder if a way to compare these results existed, and if there was a 
	way to make that work. And thus, our idea for a final project was 
	born.
	</p>
</body>
</div>

{% endblock %}
