{% extends "base.html" %}

{% block content %}

<h1>About Us</h1>

<table>
	<tr>	
		<td>Connor Foley</td>
		<td>John Holmes</td>
		<td>Ross Pendergast</td>
		<td>Danny Sack</td>
	</tr>
	<!--This next row is our likedin profile picture with the 
	linked account, except for Ross, who doesn't have a linkedin...-->
	<tr>
		<td><a href="https://www.linkedin.com/profile/view?id=AA4AABL8W6UBNSllbAoT5U3mR-Fb9kfduXjYrso&trk=send_invitation_success_message_name&goback=%2Enpv_AAkAABL8W6UB15Q5PgfmsvWnU3hczD9Z9rxvBd4_*1_*1_NAME*4SEARCH_qPy9_*1_en*4US_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_tyah_*1_*1"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/03e/03b/0e7ae5a.jpg"></a></td>
		<td><a href="https://www.linkedin.com/profile/view?id=AAkAABgWHLYBSeQWIVmevipsmXwrmx8SPADhh5s&authType=NAME_SEARCH&authToken=eNbx&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A404102326%2CauthType%3ANAME_SEARCH%2Cidx%3A1-2-2%2CtarId%3A1448903215300%2Ctas%3AJohn"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAOKAAAAJDMwY2Y0NjBhLTgwMmQtNDMzMy1iYjZlLTA1MTYwOTI4YmM5ZA.jpg"></a></td>
		<td>Ross Pendergast does not have a linked in...yet</td>
		<td><a href="https://www.linkedin.com/profile/view?id=AAMAABEorGsBbM4iwNjEHeY-rjT2A6Kl8pJ9_sE&trk=hp-identity-name"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/012/0e4/371dba6.jpg"></a></td>
	</tr>
</table>

{% endblock %}