<!doctype html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/stylesheet.css" />
    {% block head %}
    <title>Michigan XC Ratings</title>
    {% endblock %}
  </head>
  <body>
    <div>
      <h1> Michigan High School Cross Country Speed Ratings </h1>
      <nav>
        <table>
          <tr>
            <td><a href="/"><img src="/static/Home.png" class="round"></a></td>
            <td class="nav"><a href="/">Home</a></td>
            <td class="nav"><a href="/about.html">About Us</a></td>
            <td class="nav"><a href="/rankings.html">Speed Rankings</a></td>
            <td class="nav"><a href="/calculator.html">Calculator</a></td>
          </tr>
        </table>
      </nav>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>