<!doctype html>
<html>
  <head>
    {% block head %}
    <title>Michigan XC Ratings</title>
    {% endblock %}
  </head>
  <body>
    <div>
      <h1> Michigan High School Cross Country Speed Ratings </h1>
    </div>
    <nav>
      <table border="1px">
        <tr>
          <td><a href="#"><img src="Home.png"</a></td>
          <td><a href="#">Home</a></td>
          <td><a href="about.html">About Us</a></td>
          <td><a href="#">Speed Rankings</a></td>
        </tr>
      </table>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>