{% extends "base.html" %}

{% block content %}

<link type="text/css" rel="stylesheet" href="/static/stylesheet.css" />

<div>
	<h2>Race Comparison Calculator</h2>
	<body>
		<p>We have created this calculator to allow users to enter a time they have run on one of the listed courses and recieve what they should expect to run on another of the listed courses.</p>
	</body>
</div>
<div>
	<form id="ipt" action="calculator.php" method="get">
		Please enter your time below: <br>
		Minutes: <input type="number" name="minutes" value="00"><br>
		Seconds: <input type="number" name="seconds" value="00.00"><br><br>
		Please select the course you ran on:<br>
		{% for course in courses %}
    		{{ course }}<br>
    	{% endfor %}
		<!--<input type="submit" value="Submit">-->
	</form>

<button onclick="total_seconds()">Calculate</button>

<p id="demo"></p>

<script>
function total_seconds() {
    var x = document.getElementById("ipt");
    var text = "";
    var i;
    for (i = 0; i < x.length ;i++) {
        text += x.elements[i].value + "<br>";
    }
    document.getElementById("demo").innerHTML = text;
}
</script>

{% for course in courses %}
    {{ course }}<br>
{% endfor %}

</div>

{% endblock %}