{% extends "base.html" %}

{% block content %}

<link type="text/css" rel="stylesheet" href="/static/stylesheet.css" />

<div>
	<p> We have run a statistical analysis for the following courses throughout the state of Michigan. We gathered data from <a href="http://www.athletic.net" target="_blank">athletic.net</a> to rate each course by its level of difficulty. We have taken data from the following courses:
		<ul class="no_bullets">
			<li>Huron Meadows Metropark, Brighton, MI</li>
			<li>Lake Erie Metropark, Brownstown, MI</li>
			<li>Springfield Oaks County Park, Davisburg, MI</li>
			<li>Bloomer Park, Rochester Adams, MI</li>
			<li>Ella Sharp Park, Jackson, MI</li>
			<li>Uncle John's Cider Mill, St. John's, MI</li>
			<li>Portage West MS, Portage, MI</li>
			<li>Michigan International Speedway (MIS), Brooklyn, MI</li>
			<li>Willow Metropark, New Boston, MI</li>
			<li>Forest Akers East Golf Course, East Lansing, MI</li>
		</ul>
	</p>
</div>

{% endblock %}
