{% extends "base.html" %}

{% block content %}

<ul class="list-inline">
	<li><a href="#">Home</a></li>
	<li><a href="#">About Us</a></li>
	<li><a href="#">Speed Rankings</a></li>
</ul>

<h1> Welcome to Michigan High School Cross Country Speed Ratings </h1>
	<p> We have put run a statistical analysis for the following courses throughout the state of Michigan. We gathered data from <a href="http://www.athletic.net">athletic.net</a> to rate each course by its level of difficulty. We have taken data from the following courses:
		<ul>
			<li>Michigan International Speedway (MIS), Brooklyn, MI</li>
			<li>Huron Meadows Metropark, Brighton, MI</li>
			<li>Willow Metropark, New Boston, MI</li>
			<li>Portage West MS, Portage, MI</li>
			<li>Forest Akers East Golf Course, East Lansing, MI</li>
			<li>Springfield Oaks County Park, Davisburg, MI</li>
			<li>Ella Sharp Park, Jackson, MI</li>
			<li>Bloomer Park, Rochester Adams, MI</li>
			<li>Uncle John's Cider Mill, St. John's, MI</li>
			<li>Lake Erie Metropark, Brownstown, MI</li>
		</ul>
	</p>

<!--<div>
    <h2>The terms returned from the schedule API are:</h2>
    {% for term in terms %}
        {{ term['TermDescr'] }}<br>
    {% endfor %}
</div>-->

{% endblock %}
