{% extends "base.html" %}

{% block content %}

<link type="text/css" rel="stylesheet" href="static/stylesheet.css" />

<div>
    <h2>Please choose a race:</h2>
    {% for race in races %}
        <a href="/results/{{ race }}?course={{ course_name }}">{{ race }}</a> <br>
    {% endfor %}
<!--</div>

	This bit will be used if translation needed
	var translation = {
		"D1": "MHSAA Division 1 State Championships"
		"D2": "MHSAA Division 2 State Championships"
		"D3": "MHSAA Division 3 State Championships"
		"D4": "MHSAA Division 4 State Championships"
		"aarc": "AARC Early Bird Open"
		"r_4_1": "MHSAA Regional 04-1"
		"kensington_conference_v": "KLAA Kensington Conference Finals Varsity"
		"kensington_conference_jv": "KLAA Kensington Conference Finals JV"
		"river_rat_sub_20": "River Rat Open Sub 20 Minutes"
		"river_rat_up_20": "River Rat Open Over 20 Minutes"
		"r_6_1": "MHSAA Regional 06-1"
		"r_36_4": "MHSAA Regional 36-4"
		"wayne_county_jv": "Wayne County Championship JV"
		"wayne_county_v": "Wayne County Championship Varsity"
		"rr_invite_v": "Ramblin' Rock Invitational Varsity"
		"rr_invite_jv": "Ramblin' Rock Invitational JV"
		"nholly_d1": "Nike/Holly/Duane Raffin Festival of Races Division 1"
		"nholly_d2": "Nike/Holly/Duane Raffin Festival of Races Division 2"
		"nholly_d3": "Nike/Holly/Duane Raffin Festival of Races Division 3"
		"nholly_d4": "Nike/Holly/Duane Raffin Festival of Races Division 4"
		"nholly_d5": "Nike/Holly/Duane Raffin Festival of Races Division 5"
		"spartan_elite": "MSU Spartan Invitational Elite Race"
		"spartan_green": "MSU Spartan Invitational Green Race (D1 & D2)"
		"spartan_bronze": "MSU Spartan Invitational Bronze Race (D2 & D3)"
		"spartan_white": "MSU Spartan Invitational White Race (D3 & D4)"
		"spartan_jv_1": "MSU Spartan Invitational JV #1"
		"portage_d1_v": "Portage Invite Division 1 Varsity"
		"portage_d2_v": "Portage Invite Division 2 Varsity"
		"portage_d2_jv": "Portage Invite Division 2 JV"
		"portage_d4_v": "Portage Invite Division 4 Varsity"
		"portage_d3_v": "Portage Invite Division 3 Varsity"
		"warrior_v": "Warrior Classic Varsity"
		"r_5_1": "MHSAA Regional 05-1"
		"r_18_2": "MHSAA Regional 18-2"
		"marauder": "Marauder Invitational"
		"r_27_3": "MHSAA Regional 27-3"
		"cider_v_jv": "Cider Mill Invite Varsity and JV"
		"tvc": "TVC Central Jamboree #2 Varsity and JV"
		"marauder_large": "Marauder Invite Large Schools"
		"r_14_2": "MHSAA Regional 14-2"
		"r_23_3": "MHSAA Regional 23-3"
		"r_25_3": "MHSAA Regional 25-3"
		"r_33_4": "MHSAA Regional 33-4"
		"jackson_d1": "Jackson HS Invite Division 1"
		"jackson_d2": "Jackson HS Invite Division 2"
		"jackson_d3_4": "Jackson HS Invite Division 3 & 4"
		"adams_v": "Adams/Cicciarelli Invitational Varsity"
		"oaa_red_v": "OAA Red Jamboree #1 Varsity"
		"oaa_jv": "OAA - Red Championships JV"
		"oaa_red_v": "OAA White Jamboree #2 Varsity"
	}

	translation[race_abbrev]-->

{% endblock %}