{% extends "base.html" %}

{% block content %}

<link type="text/css" rel="stylesheet" href="static/stylesheet.css" />

<p> Please choose a course:
	<table>
		<tr><a href="mis.html">Michigan International Speedway (MIS), Brooklyn, MI</a></tr>
		<tr>Huron Meadows Metropark, Brighton, MI</tr>
		<tr>Willow Metropark, New Boston, MI</tr>
		<tr>Portage West MS, Portage, MI</tr>
		<tr>Forest Akers East Golf Course, East Lansing, MI</tr>
		<tr>Springfield Oaks County Park, Davisburg, MI</tr>
		<tr>Ella Sharp Park, Jackson, MI</tr>
		<tr>Bloomer Park, Rochester Adams, MI</tr>
		<tr>Uncle John's Cider Mill, St. John's, MI</tr>
		<tr>Lake Erie Metropark, Brownstown, MI</tr>
	<table>
</p>

{% endblock %}