{% extends "base.html" %}

{% block content %}

<link type="text/css" rel="stylesheet" href="static/stylesheet.css" />

<p> Please choose a course:
	<ul class="no_bullets">
		<li><a href="/mis.html">Michigan International Speedway (MIS), Brooklyn, MI</a></li>
		<li>Huron Meadows Metropark, Brighton, MI</li>
		<li>Willow Metropark, New Boston, MI</li>
		<li>Portage West MS, Portage, MI</li>
		<li>Forest Akers East Golf Course, East Lansing, MI</li>
		<li>Springfield Oaks County Park, Davisburg, MI</li>
		<li>Ella Sharp Park, Jackson, MI</li>
		<li>Bloomer Park, Rochester Adams, MI</li>
		<li>Uncle John's Cider Mill, St. John's, MI</li>
		<li>Lake Erie Metropark, Brownstown, MI</li>
	</ul>
</p>

{% endblock %}