{% extends "base.html" %}

{% block content %}

<link type="text/css" rel="stylesheet" href="static/stylesheet.css" />

<div>
    <h4>The courses with the speed ratings are:</h4>
    {% for course in courses %}
    	<a href="/races/{{ course }}">{{ course }}</a> <br>
        <!-- {{ course }}<br> -->
    {% endfor %}
</div>

	<!--# This bit will be used if translation needed
	# The first bit is the name of the table
	var translation = {
		"mis": "Michigan International Speedway (MIS), Brooklyn, MI"
		"willow": "Willow Metropark, New Boston, MI"
		"portage": "Portage West MS, Portage, MI"
		"spartan": "Forest Akers East Golf Course, East Lansing, MI"
		"huron": "Huron Meadows Metropark, Brighton, MI"
		"lake_erie": "Lake Erie Metropark, Brownstown, MI"
		"nholly": "Springfield Oaks County Park, Davisburg, MI"
		"ella": "Ella Sharp Park, Jackson, MI"
		"bloomer": "Bloomer Park, Rochester Adams, MI"
		"uncle": "Uncle John's Cider Mill, St. John's, MI"
	}

	translation[get_courses]-->

{% endblock %}